# Dependency directories
node_modules/

# Build outputs
/dist
/build

# Environment files
.env

# System files
.DS_Store
Thumbs.db

# IDE and editor directories
.idea/
*.sublime-project
*.sublime-workspace
.vscode/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional logs
*.log
logs

# Optional npm-debug.log
npm-debug.log*

# Optional yarn error logs
yarn-error.log
